<!DOCTYPE html>
<html>
<body>

<h1>Gimme More</h1>
<h2>Britney Spears</h2>
<p>It's Britney, bitch</p>
<p>see you</p>
And I just want to dance with you
Every time they turn the lights down
Just want to go that extra mile for you
Your public display of affection
Feels like no one else in the room (But you)
We can get down like there's no one around
We keep on rockin' (We keep on rockin')
We keep on rockin' (Keep on rockin')
Cameras are flashin' while we're dirty dancin'
They keep watching (They keep watching)
Keep watching
Feels like the crowd is saying
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
A center of attention (Do you feel that?)
Even when we're up against the wall
You've got me in a crazy position (Yeah)
If you're on a mission (Uh-uh)
You got my permission (Oh)
We can get down like there's no one around
We keep on rockin' (Keep on rockin')
We keep on rockin', rockin' (Oh ah ha)
Cameras are flashin' while we're dirty dancin'
They keep watching (They keep watching)
Keep watching
Feels like the crowd are saying
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
I just can't control myself
Oh
They want more?
Well, we'll give them more
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More) (Gimme more)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More) (Ooh-ooh)
Gimme, gimme (More)
Gimme (More)
Gimme, gimme (More)
Gimme, gimme (More) (Gimme more, yeah)
Gimme (More)
Gimme more, gimmie more
Gimme more, gimmie more, babe (Danger, danger, danger)
I just want more
Gimme, gimme
Gimme
Gimme, gimme
Gimme, gimme
Gimme
Gimme, gimme
Gimme, gimme
Gimme
Gimme, gimme
Gimme, gimme
Gimme
Gimme, gimme
Bet you didn't see this one comin'
The Incredible Lago
The legendary Miss Britney Spears
And the unstoppable Danja
Ah, you're gonna have to remove me
'Cause I ain't goin nowhere (More)</p>
</body>
</html>
